<a href="https://colab.research.google.com/github/RoseroRoyen/CPE009A-OOP/blob/main/Demo1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Python Indentation**

In [ ]:
if 5 > 2:
  print ("five is greater than 2!")

**Python Comments**

In [14]:
if 5 > 2:
  print ("five is greater than 2!") #comparison of numbers 5 and 2

five is greater than 2!

**Python Variables**

In [27]:
#This is a single variable with a value
x = 1
a,b=0,-1
a,b,c=0,-1,-2

print(a)
print(b)
print(x)
b="Matthew"

print(b)

0
-1
1
Matthew

Casting

In [28]:
b="sally #This a type of string"
b=int(4)
print(b)

b=float(4)
print(b)

4
4.0

Type() function

In [34]:
x=5
y="John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

Double Quotes or Single Quotes

In [36]:
y= "John"
print(y)
y= 'John'
print(y)

John
John

Case Sensitive

In [39]:
a = 4
A="Sally"
#A will not overwrite a

Multiple Variables

In [40]:
x,y,z = "one", "two", "three"
print(x)
print(y)
print(z)

one
two
three

One Value to Multiple Variables

In [41]:
x=y=z= "four"
print(x)
print(y)
print(z)

four
four
four

Output Variables

In [ ]:
x="enjoying"
print("Python programming is " + x)

Other way

In [49]:
x="Python is "
y="enjoying"
z= x + y
print(z)

Python is enjoying

Arithmetic Operation

In [ ]:
x=5
y=3
print(x+y)

x=5
y=3
sum= x=y
sum

Assignment Operators

In [ ]:
a,b,c=0,-1,6
c%=3
c

Comparison Operators

In [ ]:
x = 1
y = 1
x==y

Logical Operators

In [ ]:
x=1
x<5 and x<10

Identity Operators

In [ ]:
a,b,c=0,-1,5
a is c

Bitwise Operators

In [63]:
1^4

5