<a href="https://colab.research.google.com/github/RoseroRoyen/CPE009A-OOP/blob/main/Demo4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Operations and Expressions**

In [3]:
print(bool("HELLO"))
print(bool(15))
print(bool(False))
print(bool(None))
print(bool(0))
print(bool(""))
print(bool())
print(bool([]))
print(bool({}))

True
True
False
False
False
False
False
False
False

**Function can Return a boolean**

In [11]:
def myFunction():
  return True

print(myFunction())

True

In [18]:
def myFunction():
  return True

if myFunction():
  print("YES!!!!!!!!!!!!!!!!!!!!!!!!!")
else:
  print("NO??????????????????????????")

YES!!!!!!!!!!!!!!!!!!!!!!!!!

**YOU TRY!**

In [20]:
print(10>9)

a=6
b=7
print(a==b)
print(a!=a)

True
False
False

**Python Operators**

In [22]:
print(10+5)
print(10-5)
print(10*5)
print(10/5)
print(10%5)
print(10//3)
print(10**5)

15
5
50
2.0
0
3
100000

Python Bitwise Operators

In [33]:
a=60
b=13
print(a&b)
print(a|b)
print(a^b)
a<<1

12
61
49

120

**Python Assignment Operator**

In [46]:
x=1
x += 3
print(x)
x -= 3
print(x)
x *= 3
print(x)
x /= 3
print(x)
x %= 3
print(x)

4
1
3
1.0
1.0

Logical Operators

In [62]:
y=60
z=13
print(y>z)
print(z>y)
print(y>z and z>y)
print(y>z and y>z)
print(not(y>z and y>z))
print(y>z or z>y)

True
False
False
True
False
True

**Identity Operators**

In [68]:
print(y is z)
print(y is not z)

False
True

**Loop Statement**

In [121]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  print(x)
  if x == "Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [126]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  if x == "Thursday":
    break
  print(x)

Sunday
Monday
Tuesday
Wednesday

In [130]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  if x == "Thursday":
    print(x)
    break

Thursday

In [112]:
 for x in "week":
  print(x)

w
e
e
k

**The range() Function**

In [128]:
for x in range(6):
  print(x)
for x in range(2,6):
  print (x)

0
1
2
3
4
5
2
3
4
5

**Nested Loops**

In [132]:
adjective = ["red", "big","tasty"]
fruits = ["apple", "banana","cherry"]

for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [1]:
#while statement
i=1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

The break statement

In [3]:
i=1
while i<6:
  print(i)
  if i == 3:
    break
  i+=1

1
2
3

The continue statement

In [5]:
i=0
while i <6:
  i+=1
  if i== 3:
    continue
  print(i)

1
2
4
5
6

The else statement

In [6]:
i=1
while i<6:
  print(i)
  i+=1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6